@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bomb-state: #000
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: var(--bomb-state);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    rgb(var(--background-start-rgb));
}
